table {
	border-collapse: collapse;
	border: 1px solid black;
	table-layout: fixed;
	width: 100%;
}

table thead {
	border: 1px solid black;
}

table td {
	padding: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: black;
	word-wrap: break-word;
	background-color: #D3D3D3;
}